<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SerialConfig" type="FrictionTester.SerialConfigSection, FrictionTester, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
        <section name="SystemConfig" type="FrictionTester.SystemConfigSection, FrictionTester, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <SerialConfig Braudrate="9600" DataBites="8" StopBit="1" PortName="COM1"
        Parity="0" />
    <SystemConfig PressMPa="592.9" Height="500" Weight="10" DisplacementCoefficient="1"
        PassWord="" UserName="Juncheng" MicroControllorPreferences="F0,F1,F5,F6,F7,E1,E2,E3,E5,E6,f4,E7,F8,EA,EB"
        SmogJuge="20" TempJuge="20" TestType="火焰感度试验" />
</configuration>